<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple4code.simple4j.demo.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.simple4code.simple4j.demo.sys.entity.SysUser">
        <id column="id" property="id" />
        <result column="nickName" property="nickName" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="status" property="status" />
        <result column="createAt" property="createAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickName, userName, password, salt, status, createAt
    </sql>

</mapper>
